.aboutUsPhotos{
    flex-direction: row;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin-top: 2%;
}

/* .circular {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  } */

/* .circular img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    left: 100%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */


.christianPhoto{
    height: 250px;
    width: 250px;
    border-radius: 100%;
    padding: 10px;
}

.courtneyPhoto{
    height: 250px;
    width: 250px;
    border-radius: 100%;
    padding: 10px;
}

.yasminPhoto{
    height: 250px;
    width: 250px;
    border-radius: 100%;
    padding: 10px;
}

.ourNames{
    
  color: #b3cf99;
}

.aboutUsLabel{
    color:grey;
}

.aboutUsParagraph{
    color: grey;
    justify-content: justify;
    margin-left: 20%;
    margin-right: 20%;
}